/build-flowscale-Desktop-Debug/
/build-flowscale-Desktop-Release/
/flowscale/debug/
/flowscale/release/
/flowscale/flowscale.pro.user
/dio_on virtualmachine/d.*
/dio_on virtualmachine/t.*
/dio_on virtualmachine/test*
/mqttTest/debug.py
/.gitignore
